# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.DS_Store
# IntelliJ project files
.idea/
# CMake files
/build/
/CMakeFiles/
/.vscode
# clangd cache
/.cache/
# Local configuration artifacts (x86 only)
/cmake_install.cmake
/CMakeCache.txt
/compile_commands.json
/CTestTestfile.cmake
/Makefile
/src/CMakeFiles/
/src/cmake_install.cmake
/src/Makefile