# Default ignored files
shelf/
workspace.xml

# Editor-based HTTP Client requests
httpRequests/

# Datasource local storage ignored files
dataSources/
dataSources.local.xml

# MacOS system files
.DS_Store

# IDE project files
.idea/
.vscode

# CMake files
build/

# clangd cache
/.cache/

# Local configuration artifacts (x86 only)
/cmake_install.cmake
/CMakeCache.txt
/compile_commands.json
/CTestTestfile.cmake
/Makefile
/src/CMakeFiles/
/src/cmake_install.cmake
/src/Makefile
/CMakeFiles/

# Library object
/src/libsedsprintf.a